{% extends 'books/base.html' %}
{% load static %}

{% block page_css %}
    <link rel="stylesheet" href="{% static 'styles/index_style.css' %}">
{% endblock %}

{% block page_content %}
    <div class="main">
        <div class="title">
            BOOKSHARING
        </div>
        <div class="slogan_title">
            Подарите ненужным книгам новую жизнь!
        </div>
        <div class="slogan_text">
            Lorem ipsum dolor sit amet, consectetur adipiscing elit.
            Etiam consectetur lobortis dui, et iaculis mi ultrices vitae.
            Donec posuere finibus ultrices.
            Quisque lectus dui, blandit non lorem ut, auctor vestibulum arcu.
            Nam eget nisi a massa tincidunt aliquam.
        </div>
    </div>
{% endblock %}
